@import url('https://fonts.cdnfonts.com/css/tourney');
@import url('https://fonts.cdnfonts.com/css/nabla');
@import url('https://fonts.cdnfonts.com/css/hiskyflipper');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #70c5ce;
    font-family: 'HISKYFLIPPERHI', sans-serif;
    background-image: url(./img/nubes.gif);

    background-size: cover;
}

.container,
.usuario,
.singIn,
.formLog,
.formSingin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #fff;
    font-family: 'Tourney', sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: 'Nabla', sans-serif;
    font-size: 6rem;
}

h3 {
    font-family: 'HISKYFLIPPERHI', sans-serif;
    font-size: 2rem;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 1.5rem;
    margin: 50px 15px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    transition: background-color 0.3s ease;
    font-family: 'HISKYFLIPPERHI', sans-serif;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    border: solid black;
}

.imgContainer {
    width: 150px;
    height: 150px;
    background-image: url('img/bird1.png');
    background-size: cover;
    animation: animacion-imagen 0.8s infinite;
}

@keyframes animacion-imagen {
    0% {
        background-image: url('img/bird1.png');
    }

    50% {
        background-image: url('img/bird2.png');
    }

    100% {
        background-image: url('img/bird1.png');
    }
}

#userName,
#opcsingIn {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: rgb(255 235 110 / 60%);
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'HISKYFLIPPERHI', sans-serif;
}

#scoreList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 90vh;
    border: inset #ffdf86 5px;
    gap: 10px;
    min-width: min-content;
}

#game,
.endgame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 90vh;
    border: inset #ffdf86;
    text-align: center;
}

.modosPlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0 10px;
    overflow: hidden;
}

p {
    text-align: center;
    margin: 0px 10px 0 10px;
}

.imggif {
    width: 40%;
    border-radius: 100%;
    overflow: hidden;
}

.finalScore {
    background-color: #8bff5c;
    width: 40%;
    height: 20%;
    border: ridge #ad6d40 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gifAbajo {
    width: 15%;
}

.pLog {
    color: red;
    font-size: 2rem;
}

#playMain {
    width: 600px;
    height: 800px;
    border: inset #ffdf86;
    text-align: center;
    overflow: hidden;
    margin: auto;
}


#obstaculo {
    width: 50px;
    height: 800px;
    background-image: url(./img/arbol.png);
    background-color: #513b2d;
    position: relative;
    left: 600px;
    animation: obstaculo 2s infinite linear;
}

@keyframes obstaculo {
    0% {
        left: 600px
    }

    100% {
        left: -50px
    }
}

#espacio {
    width: 50px;
    height: 200px;
    background-color: #8ed2f4;
    position: relative;
    left: 600px;
    top: -800px;
    animation: obstaculo 2s infinite linear;
}

#kiwibird {
  background-image: url(./img/kiwivol.png);
    width: 50px;
    height: 50px; 
    position: absolute;
    top: 100px;
    border-radius: 50%;
    animation: animacion-kiwi 0.8s infinite;
}

@keyframes animacion-kiwi {
    0% {
        background-image: url('img/kiwivol.png');
    }

    50% {
        background-image: url('img/kiwivol1.png');
    }

    100% {
        background-image: url('img/kiwivol.png');
    }
}